[submodule "mu_platform_nxp/MU_BASECORE"]
	path = mu_platform_nxp/MU_BASECORE
	url = https://github.com/Microsoft/mu_basecore.git
[submodule "mu_platform_nxp/Common/MU"]
	path = mu_platform_nxp/Common/MU
	url = https://github.com/Microsoft/mu_plus.git
[submodule "mu_platform_nxp/Silicon/ARM/MU_TIANO"]
	path = mu_platform_nxp/Silicon/ARM/MU_TIANO
	url = https://github.com/Microsoft/mu_silicon_arm_tiano.git
[submodule "mu_platform_nxp/Common/MU_TIANO"]
	path = mu_platform_nxp/Common/MU_TIANO
	url = https://github.com/Microsoft/mu_tiano_plus.git
[submodule "mu_platform_nxp/Common/MU_OEM_SAMPLE"]
	path = mu_platform_nxp/Common/MU_OEM_SAMPLE
	url = https://github.com/Microsoft/mu_oem_sample.git
[submodule "imx-mkimage"]
	path = imx-mkimage
	url = https://github.com/nxp-imx/imx-mkimage.git
        ignore = untracked
[submodule "imx-atf"]
	path = imx-atf
	url = https://github.com/nxp-imx/imx-atf.git
[submodule "MSRSec"]
	path = MSRSec
	url = https://github.com/Microsoft/MSRSec
[submodule "RIoT"]
	path = RIoT
	url = https://github.com/Microsoft/RIoT.git
[submodule "optee_os/optee_os_arm64"]
	path = imx-optee-os
	url = https://github.com/nxp-imx/imx-optee-os.git
[submodule "u-boots/u-boot-imx_arm64"]
	path = uboot-imx
	url = https://github.com/nxp-imx/uboot-imx.git
